/* rules whole page */
* {
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
/*add navbar everywhere*/
.navbar {
    margin: 0 0 80px 0;
}

nav {
    background: #db9696;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;

}

label.name {
    color: white;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
    margin-left: 5%;
}

nav ul {
    float: right;
    margin-right: 5%;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active,
nav a:hover {
    background: #da7669;
    transition: .5s;
}

@media (max-width: 1000px) {
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
    }
}

/* about me home-page */
#homeAboutMeText {
    margin: 7% 0 0 5%;
    font-size: 30px;
    width: 40%;
    float: left;
}

#fotoNederland {
    float: left;
    margin: 7% 0 0 5%;
}

/* about me aboutMe-page*/
#aboutMeAboutMeText {
    margin: 12% 0 0 5%;
    font-size: 30px;
    width: 40%;
    float: left;
}

/* hobby-page*/
#hobbyText {
    margin: 12% 0 0 5%;
    font-size: 30px;
    width: 40%;
    float: left;
}

.videoGame {
    text-decoration: none;
    color: #da7669;
}